---
layout: default
title : Projects
navbar_title: Projects
---

{% comment %} 过滤掉博客页面，只显示项目卡片 {% endcomment %}
{% assign all_projects = site.projects | where_exp: "item", "item.is_blog_page != true" | sort: "date" | reverse %}

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in all_projects %}
                {% include widgets/project_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
    </div>
</div>
